<% provide(:title,"Работа в Сургуте Вакансии") %>
<% provide(:logo,"РАБОТА В СУРГУТЕ") %>
<% art=render 'article_default' %>
<% provide(:article,art) %>
<%= render 'search' %>
<%= render 'forworker' %>
<%= render 'foremployer' %>
<div class="row">
  <h4>  Сургу́т </h4>— город в России, административный центр Сургутского района Ханты-Мансийского автономного округа, крупнейший город округа и второй населённый пункт в области после Тюмени, один из немногих российских региональных городов, превосходящих административный центр своего субъекта федерации как по численности населения, так и по промышленному, экономическому и туристическому потенциалу[4].

  Крупнейший в Приобье речной порт. Важный узел железных и автодорог (крупнейший на севере Западной Сибири). Международный аэропорт федерального и экономического значения. Как производственный центр крупнейшего нефтяного района, Сургут — неофициальная «нефтедобывающая столица» России. Основа экономики города — компания ОАО «Сургутнефтегаз». В Сургуте работают одни из самых мощных электростанций мира ГРЭС-1 и ГРЭС-2.

  Численность населения Сургута на апрель 2013 года составляла 326 802 жителей[1].

<strong>вакансии в Сургуте:</strong> <p>подбор персонала всех уровней. обширная база резюме в Сургуте и большое количество посетителей-кандидатов
на сайте — вот что нужно для быстрого и эффективного поиска сотрудников. поскольку сайт ориентирован на соискателей всех
уровней, то с его помощью можно найти и массовый персонал, и топ-менеджмент. работа в Сургуте нужна многим, поэтому банк
резюме на сайте ежедневно пополняется — чтобы не пропустить нужное резюме, заходите почаще на сайт.</p>
</div>

