<h1>Статьи о поиске работы</h1>
<div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- articles_m -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-4110565745306347"
     data-ad-slot="3031840543"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<% @articles.each do |a| %>
  <dl>
    <dt><h3><%= link_to a.title, :action => :show, :id => a.id  %></h3></dt>
    <dd><%= simple_format a.des %></dd>
  </dl>
	<% end %>



