<h3 id='articles_h3'>Articles</h3>

<div id='articles'> 
<% @articles.each do |a| %>
	 <h3 class='article_header'>
	 	<%= link_to a.title, :action => :show, :id => a.id  %>
	 </h3>
	<div>
		<%= link_to a.des, :action => :show, :id => a.id %><br /><br />
		<span class='articles_addit_info'>Date: <%= a.add_time %></span>
		<span class='articles_addit_info'>Views count: <%= a.view %></span>
	</div>        
	<% end %>
</div>



