Добрый день, уважаемые посетители портала! Предлагаем Вашему вниманию возможность изучить востребованную профессию ПРОГРАММИСТА,
с помощью которой вы обязательно сможете найти работу. Мы гарантируем, что если вы проявите желание и усердие - вы обязательно
сможете освоить эту профессию. Обучение - удаленное. Мы будем направлять вас и контролировать ход Вашего обучения, и при должном
внимании - уже через три-четыре месяца вы можете попробовать искать работу в новой сфере! Стоимость обучения - 10000 рублей.
Направьте заявку,  и мы свяжемся в Вами в тот же день по email или телефону.

<h3>Поле для ввода email</h3>
<p>Введите ваш email</p>
<%= form_tag "call" do %>
<%= text_area_tag :message, nil,  class: "span9" %>
<%= button_tag "ОТПРАВИТЬ", class: "btn pull-right btn-block" %>
<% end %>
