<h3>Отправьте Ваши предложения, замечания модераторам</h3>
<p>Поделитесь тем, что Вам нравится в нашем сайте и что бы Вы хотели поменять</p>
<%= form_tag "call" do %>
<%= text_area_tag :message, nil,  class: "span9", style: "height: 300px"%>
<%= button_tag "ОТПРАВИТЬ", class: "btn pull-right btn-block" %>
<% end %>
