<h3>Поле для ввода email</h3>
<p>Введите ваш email</p>
<%= form_tag "call" do %>
<%= text_area_tag :message, nil,  class: "span9" %>
<%= button_tag "ОТПРАВИТЬ", class: "btn pull-right btn-block" %>
<% end %>
