<div class="row">
  <fieldset>
    <legend>Работодателю</legend>
    <div>
        <ul class="thumbnails">
          <li class="span3">
          <div class='thumbnail text-center'>
          <div class="caption">
        <h4><a href="/vacancies/new" title="Добавить новую вакансию в базу">Добавить вакансию</h4>
          <%= image_tag("addvacansy.png", :alt=>"Картинка для Добавить вакансию") %></a>
        <br><br>
        <br>
      </div>
    </div>
        </li>


        <li class="span3">
          <div class='thumbnail text-center'>
            <div class="caption">
        <h4><%= link_to "Последние резюме","resumes", title: "Недавно добавленные резюме" %></h4>
        <ul class="unstyled">
          <% @res.each do |r| %>
            <li>
            <%=  link_to r.position.slice(0..32), {:id => r.id, :controller => :resumes, :action => :show},title: "Подробнее о резюме #{r.position}" %>
            </li>
            <br>
          <% end %>
          <br>
        </ul>
      </div>
    </div>
        </li>
      </ul>

    </div>
  </fieldset>
</div>
