<% provide(:title,"Работа в Лангепасе Вакансии") %>
<% provide(:logo,"РАБОТА В ЛАНГЕПАСЕ") %>
<% art=render 'article_default' %>
<% provide(:article,art) %>
<%= render 'search' %>
<%= render 'forworker' %>
<%= render 'foremployer' %>
<div class="row">
  <dl>
    <dt>Лангепа́с</dt> <dd>— город (с 1985) в России Ханты-Мансийском автономном округе Тюменской области является городом окружного подчинения. Расположен в Западной Сибири, на правом берегу протоки Каюковская (Лангепас) в 15 км от реки Обь. Население (по итогам Всероссийской переписи населения 2010 года) — 41675. Название города в переводе с хантыйского языка означает «Беличье угодье».

Город основан в 1980 году в связи со строительством Локосовского ГПЗ и посёлка Лангепас для нефтяников и обслуживающего персонала.</dd>
<br>
<dd>Город Лангепас расположен в центральной части Западно-Сибирской равнины между двумя крупными городами Ханты-Мансийского автономного округа — Югры: Нижневартовском и Сургутом. В 1985 году по решению Тюменского областного Совета народных депутатов, Лангепасу был присвоен статус города окружного подчинения. Он вошел в плеяду городов Лукойла. Это самобытный, комфортный для проживания город, население которого составляет 41,6 тысяч человек. Отличие Лангепаса от других малых северных городов в том, что строился он, как город европейского типа — с широкими улицами и площадями. Согласно генеральному плану застройки Лангепаса, промышленная и жилая зоны города размещены с учетом перспективного роста и сохранения природно-экологических особенностей. Сегодня город состоит из девяти микрорайонов, образующих два крупных жилых района, между которыми размещается городской общественный центр. Перспективный план застройки предусматривает в ближайшее время строительство двух новых микрорайонов.</dd>
</dl>

  
<h4>Вакансии в Лангепасе:</h4> <p>подбор персонала всех уровней. обширная база резюме в Лангепасе и большое количество посетителей-кандидатов
на сайте — вот что нужно для быстрого и эффективного поиска сотрудников. поскольку сайт ориентирован на соискателей всех
уровней, то с его помощью можно найти и массовый персонал, и топ-менеджмент. работа в Лангепасе нужна многим, поэтому банк
резюме на сайте ежедневно пополняется — чтобы не пропустить нужное резюме, заходите почаще на сайт.</p>
</div>

