<% provide(:title,"Работа в Лангепасе Вакансии") %>
<% provide(:logo,"РАБОТА В ЛАНГЕПАСЕ") %>
<% art=render 'article_default' %>
<% provide(:article,@city.sidebar) %>
<%= render 'search' %>
<%= render 'forworker' %>
<%= render 'foremployer' %>
<div class="row"><%= simple_format(@city.footer) if @city.footer %>
</div>
