/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
* {
	margin:0;
	padding:0;
}

body {
    font-family:Verdana; 
    background-image:url(bg.png);
    background-repeat:repeat-x; 
    background-color:#FFFFFF; 
    margin:0px;
    padding:0px;    
}

#main {
    width: 1000px;
    margin:0 auto;
    background-color: white;
    min-width: 800px;
}

#header {	
    border-left: 1px solid white;
    border-top: 0px;
    border-right: 1px solid white;
    border-bottom: 0px;
    min-height:107px;
    background-color: #2C569C;
    min-width: 800px;
    position:relative;
    height:107px;    
}

.header_logo {
    border:0px;
    width:499px;
    height:107px;
}

#header_left {
    border:0px;    
    min-width:500px;
    position:absolute;
    left:0px;
    height:107px;
}

#header_right {
    background-image: url(header_spotlight.png);
    background-repeat: repeat-x;
    min-width: 500px;
    min-height:107px;   
    position:absolute; 
    right:0px;   
    height:107px;
}

.header_text { 
    font-size:10px;
    font-weight:bold;
    color:#FFF; 
    text-align:center;
    visibility:hidden;
}

#coolmenu {
    clear: both;
}

#coolmenu ul{
	list-style:none;
	width:100%;
	height:28px;
	background:#000 url(topmenu_bg.png) top left repeat-x;
}
#coolmenu ul li{
	float:left;
	border-right:0px;
}
#coolmenu ul li a{
	display:block;
	height:28px;
	padding:0 35px;
	float:left;
	
	font:normal 14px/25px Verdana,"microsoft sans serif",arial,sans-serif;
	color:#000;
	text-decoration:none;
	text-align:center;
}
#coolmenu ul li a:hover,
#coolmenu ul li.active a{
	background-color: #f6f6f6; 
    color: #f00; 
    cursor:pointer;
}

#content {
    width:1000px;  
    position:relative;   
}

#feedback {
    position: fixed;
    left:0px; top:50%;
    width:20px; 
    height:100px; 
    cursor:pointer;
}

#footer {
   height:50px;
    font-size: 9px;
    background-color: #CCCCCC;
    clear:both;
    width:1000px;
    margin:0 auto;
}
#contact_menu {
    float: left;    
    width:200px;
    padding-top: 5px;
    padding-left: 5px;
}
#footmenu {
    padding-left:200px;
    text-align: center;
    width: 650px;    
    padding-top:10px
}

h3 {
	text-align:center;
    padding: 20px;
    color: #0080FF;    
}
.hr {
     margin-top:20px;
     color:#CCCCCC;
     width: 95%;
     margin: 0 auto;
}


.open {
    display: block;
}

.close {
    display: none;
}
