@font-face {
    font-family: 'ImpactRegular';
    src: url('impact.eot');
    src: url('impact.eot') format('embedded-opentype'),
         url('impact.woff') format('woff'),
         url('impact.ttf') format('truetype'),
         url('impact.svg#ImpactRegular') format('svg');
}
