// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin button {
              border: 1px solid #d3d3d3;
              background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
              font-weight: normal;
              color: #555555;
              padding: .4em 1em;
              display: inline-block;
              position: relative;  
              margin-right: .1em;
              text-decoration: none !important;
              cursor: pointer;
              text-align: center;
              zoom: 1;
              overflow: hidden;
              border-collapse: separate;
              border-spacing: 2px;
              border-color: gray;
              border-radius: 5px; 
              -moz-border-radius-bottomleft: 4px;
              -webkit-border-radius: 4px;
              -khtml-border-radius: 4px; 
              &:hover {
                  color:black;
                  background: #d0d0d0 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
              }
}

@mixin search_table {
            border:0px;
            width: 625px;
            padding: 0px;
            border-spacing: 0;
            font-size:13px;
            .tags {
                width:500px;
                background: white;    
            }            
            .search_table_button {
                @include button;
            } 
        }

#tabs {
    padding-left: 40px;
    width:700px;
    border:0px; 
    font-family: Verdana, Tahoma;  
    
    #vacancy {
        background-color:#0085ea;
        margin-left: 20px;
        width:625px; 
        border-radius: 0px 5px 5px 5px;
        .search_table {
            @include search_table;
        }
    }
    #resume_index {
        background-color:#0085ea;
        margin-left: 20px;
        width:625px; 
        border-radius:  5px 5px 5px 5px;
         .search_table {
            @include search_table;
        }
      
    }    
}

.vacancies_module {
    padding: 20px;    
    margin-bottom:30px; 
    border:0px solid black; 
    font-family:Verdana; 
    font-size:12px;
    width: 200px;
    float: left;
    padding-left:40px;
    .popVac {
        padding-bottom: 10px;
        .vacancy_module_header {
            text-decoration:none; 
            font-weight:bold; 
            font-size:14px;
            text-align: center;
        }
    }
    .pop_vacancy ul li {
        list-style: none;
        padding: 4px;
    }
    
    .pop_vacancy p  {
        list-style: none;
        padding: 2px;
        font-size:12px;
    }
  
}

.hr_index {
     margin-top:20px;
     color:#CCCCCC;
}

.main_footer_text {
    padding-bottom: 15px;
    padding-top: 5px;  
    .footer_text {
      line-height:100%; 
      font-size:9px; 
      text-align:justify; 
      color:#777; 
      text-indent: 20px;
      .underline-text {
          text-decoration:underline;
      }
    }  
}


#rightmenu {
    width:200px; 
    float:right;
    position: absolute;
    right:0px;
    

    #login {
        margin: 10px auto;   
        cursor:pointer;    
        font-size:12px; 
        width:130px;
        
        .loginSystem {
            color: #0080FF;
            &:hover {
              text-decoration: underline;
            }      
        }
    }  
    #comein{
        
        font-size: 12px;
        line-height: 180%;
        margin: 0 auto;
        padding:10px;
        
        #my_profile{
            padding:10px; 
            border:0px;
            margin:0 auto; 
            width:145px
        }
        
        .login_button {
          @include button;
          margin-top: 3px;
        }
        
        input {
          margin:3px;
        }
        
    }
    
    #advertise {
        width:180px;
        margin:0 auto;
        height:400px; 
        margin-top: 20px;
    
    }
}



