// Place all the styles related to the Mainpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.footer_text {
  line-height: 100%;
  font-size: 9px;
  text-align: justify;
  color: #777;
  text-indent: 20px;
  
}

.footer_container {
  margin-top: 50px;
  text-align: justify;
}

.advertise-block {
  border: 5px solid #f6f6f6;
  border-radius: 10px;
  text-align: center;
}

.user_block {
  list-style-type: none;
}

.search_block {
  margin: 20px 20px 20px 20px;
}

div.tab-pane.active {
  border: 1px solid #ddd;
  padding: 20px 0px 30px;
  background: #0088cc;
  border-color: #0088cc #ddd #ddd #ddd;
}

.nav {
  margin-bottom: 0;
}

.nav-tabs {
  border: 0;
}

#resume_search_block {
  border-radius: 10px;
  background: #0088cc
}

#vacancy_search_block {
  border-radius: 0px 10px 10px 10px;
  background: #0088cc
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
	background-color:#0088cc;
	border-color:#DDDDDD #DDDDDD transparent;
	border-style:solid;
	border-width:1px;
	color:#ffffff;
	cursor:default;
	font-weight: bold
}
.navbar-inner{
	padding-left: 105px
}
.btn{
	padding:4px 35px;
	font-weight: bold;
}
.nav-tabs > li > a {
	font-weight: bold;
	border-radius: 8px 8px 0 0;
	padding-bottom:3px;
	padding-top:3px;
}
.nav-tabs >li >a, .nav-pills > li >a {
	padding-left: 12px;
	padding-right: 10px;
}
