// Place all the styles related to the Mainpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.footer_text {
  line-height: 100%;
  font-size: 9px;
  text-align: justify;
  color: #777;
  text-indent: 20px;
}

.footer_container {
  margin-top: 50px;
  text-align: justify;
}

.advertise-block {
  border: 5px solid #f6f6f6;
  border-radius: 10px;
  text-align: center;
}

.user_block {
  list-style-type: none;
}