// Place all the styles related to the Vacancies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@mixin button {
              border: 1px solid #d3d3d3;
              background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
              font-weight: normal;
              color: #555555;
              font-size:14px;
              padding: .4em 1em;
              display: inline-block;
              position: relative;  
              margin-right: .1em;
              text-decoration: none !important;
              cursor: pointer;
              text-align: center;
              zoom: 1;
              overflow: hidden;
              border-collapse: separate;
              border-spacing: 2px;
              border-color: gray;
              border-radius: 5px; 
              -moz-border-radius-bottomleft: 4px;
              -webkit-border-radius: 4px;
              -khtml-border-radius: 4px; 
              &:hover {
                  color:black;
                  background: #d0d0d0 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
              }
}


#vacancy_search {
   
    margin: 0 auto;
    padding: 10px;
    
    #vacancy_table_result {
        font-size: 12px;
        font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
        text-align: center;
        
        .vacancy_table_header {
          color: #006699; 
          text-align: center;
          font-weight:bolder;
          border-bottom: 1px dotted;         
          padding-top:10px;
          padding-bottom:10px;
        } 
        
        #vacancy_profession {
            width:20%;
        }
        
        #vacancy_notation {
            width:15%;
        }
        
        #vacancy_lengthOfService {
            width:5%;
        }
        
        #vacancy_earns {
            width:10%;
        }
        
        #vacancy_organisation {
             width:20%;
        }
        
        #vacancy_phone {
             width:10%;
        }
        
        #vacancy_dateOf {
            width:10%;
        }
        
        td {
          border-bottom:1px solid #D7E1EC;
          padding-top:3px;
          padding-bottom:3px;          
        }
        
        .vacancy_table_result_left {                     
            text-align: left;
            border-bottom:1px solid #D7E1EC;
        }   
    }      
}
#newVacForm {
  padding:15px;
  #newVac_table {
    td {
      padding:7px;
    }
  }  
}
.NewVacButton {
    margin:10px;
    margin-left:20px;
    @include button;
}
 
#showNewVac {
    padding-left:15px;    
    #newVac {
      padding:20px;  
      font-size:25px; 
      font-weight: bold; 
      color:#333; 
      text-align:left;
    }
    #demands {
      padding:10px 20px; 
      text-align:left
    }
    #newVac_table {
      width:800px;
      padding-left:40px;
      text-align:left;
      margin-bottom:30px;
    }

}



.resVac_add { 
    font-size:12px; 
    color:#666; 
    width:30%; 
    text-align:left;
    line-height:150%;
}
.resVac_data {
    font-weight: bolder;
    font-size:12px;
    color: #2E6D83;
}